# Default ignored files
/shelf/
/workspace.xml
/.idea
/aws.xml
/deployment.xml
/misc.xml
/modules.xml
/sshConfigs.xml
/tostadas-cdc.iml
/vcs.xml
/webServers.xml
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/configs/work

# nextflow
/.nextflow/
/.nextflow
/.nextflow.log
/.nextflow.log.1
/.nextflow.log.2
/.nextflow.log.3
/.nextflow.log.4
/.nextflow.log.5
/.nextflow.log.6
/.nextflow.log.7
/.nextflow.log.8
/nf_test_results
/tests/work
/tests/.nextflow
/tests/.nextflow
/tests/.nextflow.log
/tests/.nextflow.log.1
/tests/.nextflow.log.2
/tests/.nextflow.log.3
/tests/.nextflow.log.4
/tests/.nextflow.log.5
/tests/.nextflow.log.6
/tests/.nextflow.log.7
/tests/.nextflow.log.8
/submission_scripts/upload_log.csv

/bin/.nextflow
/bin/.nextflow.log
/bin/.nextflow.log.1
/bin/.nextflow.log.2
/bin/.nextflow.log.3
/bin/.nextflow.log.4
/bin/.nextflow.log.5
/bin/.nextflow.log.6
/bin/.nextflow.log.7
/bin/.nextflow.log.8
/bin/upload_log.csv

/submission_scripts/__pycache__/
/submission_scripts/upload_log.csv
tests/__pycache__
/work
/mpxv-database-submissions-master
/aspen_test_results
/aspen/runs
/aspen/latest_run
/test

# vadr related 
/vadr
/vadr/
/vadr_testing_outdir/
/vadr_testing_outdir
/bin/vadr_outputs
/bin/vadr_outputs/

# add singularity related stuff
/app/singularity/containers/

!/.ipynb_checkpoints/
/.ipynb_checkpoints/
/.ipynb_checkpoints
/submission_scripts/__pycache__/
/submission_scripts/__pycache__

# submission related stuff 
/submission_scripts/config_files/
/submission_scripts/config_files

# add aspen related stuff
/aspen/.nextflow.log.1
/aspen/.nextflow.log.2
/aspen/.nextflow.log.3
/aspen/.nextflow.log.4
/aspen/.nextflow.log.5
/aspen/.nextflow.log.6
/aspen/.nextflow.log.7
/aspen/.nextflow.log.8
/aspen/.nextflow.log.9
/aspen/.nextflow.log.10
/aspen/.nextflow.log.11
/aspen/.nextflow.log.12

/tests/nf_test_results

/input_files/
/input_files

/bin/__pycache__/
/bin/__pycache__
bin/__pycache__
/bin/table2asn
/bin/config_files/
/bin/config_files

.DS_Store
app/.DS_Store
bin/.DS_Store
