# Default ignored files
/shelf/
/workspace.xml
/.idea
/aws.xml
/deployment.xml
/misc.xml
/modules.xml
/sshConfigs.xml
/tostadas-cdc.iml
/vcs.xml
/webServers.xml
/workspace.xml
/assets/tostadas.code-workspace

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/configs/work

# nextflow
/.nextflow/
/.nextflow.log*
/nf_test_results
/var_work/
/var_work
app/environment.yml
/submission_scripts/upload_log.csv

/bin/.nextflow
/bin/.nextflow.log*
/bin/upload_log.csv

/submission_scripts/__pycache__/
/submission_scripts/upload_log.csv
/work
/mpxv-database-submissions-master
/aspen_test_results
/aspen/runs
/aspen/latest_run

# vadr related 
/vadr
/vadr/
/vadr_testing_outdir/
/vadr_testing_outdir
/bin/vadr_outputs
/bin/vadr_outputs/

# bakta related
# /assets
/assets/bakta_database
/assets/bakta_database/db_light
/assets/bakta_database/db_light/

# add singularity related stuff
/app/singularity/containers/

!/.ipynb_checkpoints/
/.ipynb_checkpoints/
/.ipynb_checkpoints
/submission_scripts/__pycache__/
/submission_scripts/__pycache__

# submission related stuff 
/submission_scripts/config_files/
/submission_scripts/config_files

# add aspen related stuff
/aspen/.nextflow.log*

/input_files/
/input_files

/bin/__pycache__/
/bin/__pycache__
bin/__pycache__
/bin/table2asn
/bin/config_files/
/bin/config_files
!/bin/config_files/default_config.yaml

.DS_Store
app/.DS_Store
bin/.DS_Store

# CI related things
/test_fasta
/test_liftoff
/test_meta_val 
/test_submission

# Testing related
/test_main_workflow
/validation_outputs/
/test_*
