singularity {
    enabled = true
    autoMounts = true
}

profiles {
    test_singularity {
        includeConfig = "${projectDir}/nextflow.config"
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        conda.enabled = false
    }
}

process.container = 'docker.io/staphb/tostadas:latest'  // Or whatever container you’re using
