params {
    organism_type                 = 'virus'
    virus_subtype                 = 'mev'
    vadr_models_dir               = "${projectDir}/vadr_files/mev-models"
    vadr_opts                     = "-r --indefclass 0.01"
    repeatmasker_liftoff          = false
    vadr                          = true
}
