params {
    organism_type                 = 'virus'
    virus_subtype                 = 'mev'
    mol_type                      = 'viral cRNA'
    meta_path                     = "${projectDir}/assets/sample_metadata/measles_test_metadata.xlsx"
    vadr_models_dir               = "${projectDir}/vadr_files/mev-models"
    vadr_opts                     = "-r --indefclass 0.01"
    vadr_cm_url                   = "https://github.com/greninger-lab/vadr-models-mev/raw/main/mev/mev.cm"
    bakta                         = false
    repeatmasker_liftoff          = false
    vadr                          = true
    strip_pub_block               = true
    date_format_flag              = 'n'
}
