/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: METADATA_VALIDATION {
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LIFTOFF_CLI {
        publishDir = [
            path: { "${$params.output_dir/repeatmasker_liftoff_outputs}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                       filename.indexOf('.fasta') > 0 ? "fasta/${filename}":
                       filename.indexOf('.txt') > 0 ? "errors/${filename}":
                       filename } ]
        }

    withName: CONCAT_GFFS {
        publishDir = [
            path: { "${$params.output_dir/repeatmasker_liftoff_outputs}" },
            mode: params.publish_dir_mode,
            saveAs: { filename.indexOf('.gff') > 0 ? "gff/${filename}":
                      filename.indexOf('.txt') > 0 ? "errors/${filename}":
                      filename.indexOf('.tbl') > 0 ? "tbl/${filename}":
                      filename }
        ]
    }
    
    withName: BAKTA {
        publishDir = [
            path: { "${params.output_dir/bakta_outputs}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VADR_POST_CLEANUP {
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SUBMISSION_FULL {
        publishDir = [
            path: { "${$params.output_dir/$params.submission_output_dir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: SUBMISSION_GENBANK {
        publishDir = [
            path: { "${$params.output_dir/$params.submission_output_dir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SUBMISSION_SRA {
        publishDir = [
            path: { "${$params.output_dir/$params.submission_output_dir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: UPDATE_SUBMISSION {
        publishDir = [
            path: { "${params.output_dir/$params.submission_output_dir/$annotation_name}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

withName: MERGE_UPLOAD_LOG {
        publishDir = [
            path: { "${$params.output_dir/submission_outputs}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    
}