/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: BAKTA {
    ext.args  = {
		   [ 
                    params.complete  ? '--complete' : '',
                    params.meta ? '--meta' : '',
                    params.keep_contig_headers ? '--keep-contig-headers' : '',
                    params.version ? '--version' :  '',
                    params.verbose ? '--verbose' : '',
		            params.help ? '--help' : '',
                    params.debug ? '--debug' : '',
                    params.skip_trna ? '--skip-trna' : '',
                    params.skip_tmrna ? '--skip-tmrna' : '',
                    params.skip_rrna ? '--skip-rrna' : '',
                    params.skip_ncrna ? '--skip-ncrna' : '',
                    params.skip_ncrna_region ? '--skip-ncrna-region' : '',
                    params.skip_crispr ? '--skip-crispr' : '',
                    params.skip_cds ? '--skip-cds' : '',
                    params.skip_pseudo ? '--skip-pseudo' : '',
                    params.skip_sorf ? '--skip-sorf' : '',
                    params.skip_gap ? '--skip-gap' : '',
                    params.skip_ori ? '--skip-ori' : '',
                    params.skip_plot ? '--skip-plot' : '',
                    params.bakta_min_contig_length ? '--min-contig-length',
                    params.bakta_genus ? '--genus',
                    params.bakta_species ? '--species',
                    params.bakta_strain ? '--strain',
                    params.bakta_plasmid ? '--plasmid',
                    params.bakta_locus ? '--locus',
                    params.bakta_locus_tag ? '--locus-tag',
                    params.bakta_translation_table ? '--translation-table'
                    ]
                }
        }