params {
    organism_type                 = 'virus'                                       
    virus_subtype                 = 'mpxv'
    ref_fasta_path                = "${projectDir}/assets/ref/ref.MPXV.NC063383.v7.fasta"
    ref_gff_path                  = "${projectDir}/assets/ref/ref.MPXV.NC063383.v7.gff"
    meta_path                     = "${projectDir}/assets/sample_metadata/mpxv_test_metadata.xlsx"
    repeat_library                = "${projectDir}/assets/lib/mpxv_repeats_lib.fasta"
    vadr_models_dir               = "${projectDir}/vadr_files/mpxv-models"
    repeatmasker_liftoff          = true
    vadr                          = false
    submission                    = true
    sra                           = true
}
