params {
    biosample_pkg                = 'wastewater'
    workflow                     = 'biosample_and_sra'
    meta_path                    = "${projectDir}/assets/sample_metadata/wastewater_biosample_template.xlsx"
    validate_custom_fields       = true
    custom_fields_file           = "${projectDir}/assets/custom_meta_fields/ww_biosample_pkg.json"
    organism_type                = null                                                   
    virus_subtype                = null
    submission                   = true
    sra                          = true
    batch_size                   = 5
    submission_config            = "${projectDir}/conf/submission_config.yaml"
}
