params {
    biosample_pkg               = 'onehealth'
    workflow                    = 'biosample_and_sra'
    meta_path                   = "${projectDir}/assets/sample_metadata/onehealth_biosample_package_template.xlsx"
    validate_custom_fields      = true
    custom_fields_file          = "${projectDir}/assets/custom_meta_fields/onehealth_biosample_pkg.json"
    biosample                   = true
    sra                         = true
}
