params {
    organism_type                 = 'virus'                                       
    virus_subtype                 = 'rsv'
    ref_fasta_path                = "${projectDir}/assets/ref/Human_orthopneumovirus_NC_001781.fasta"
    meta_path                     = "${projectDir}/assets/sample_metadata/rsv_test_metadata.xlsx"
    vadr_models_dir               = "${projectDir}/vadr_files/rsv-models"
    repeatmasker_liftoff          = false
    vadr                          = true
}
