params {
        help = false

        /*
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                        NECESSARY VARIABLES
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */

        fasta_path = "$projectDir/assets/sample_fastas/mpox/"
        ref_fasta_path = "$projectDir/assets/ref/ref.MPXV.NC063383.v7.fasta"
        meta_path = "$projectDir/assets/custom_meta_fields/custom_fields_MPXV_metadata_Sample_Run_1.xlsx"
        ref_gff_path = "$projectDir/assets/ref/ref.MPXV.NC063383.v7.gff"
     

        // Params below are only for submission entrypoint (only_submission and only_initial_submission) (full path to dir containing files)
        final_annotated_files_path = "params.output_dir/$final_liftoff_output_dir/*/gff"
        final_split_metas_path = "params.output_dir/$val_output_dir/*/tsv_per_sample"  
        final_split_fastas_path = "$projectDir/assets/sample_fastas/mpox/"

        processed_samples = "$projectDir/$output_dir/$submission_output_dir/liftoff/"  
        bakta_db_path = ""
        variola = false 

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    GENERAL OUTPUTS FOR FILES
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        output_dir = "nf_test_results" 
        overwrite_output = false

        val_output_dir = "validation_outputs"
        final_liftoff_output_dir = "liftoff_outputs"
        vadr_output_dir = "vadr_outputs"
        bakta_output_dir = "bakta_outputs"
        submission_output_dir = "submission_outputs"

        /*
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                           WHICH PARTS OF THE PIPELINE DO YOU WANT TO RUN?
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        submission = true
        annotation = true 
        
        repeatmasker_liftoff = true
        liftoff = false
        bakta = false
        vadr = false

        submission_wait_time = 2 // time in seconds
        
        submission_config = "$projectDir/bin/config_files/<your-ncbi-config>.yaml"
        batch_name = "batch1"

        submission_database = "submit"
        submission_prod_or_test = "test"    
        send_submission_email = false 

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    OTHER PARAMETERS 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */

        /*
        OTHER PARAMETERS EXIST FOR FURTHER CONFIGURING THE FOLLOWING PARTS OF THE PIPELINE:

                - VALIDATION (CUSTOM FIELDS, FORMATTING, ETC.)
                - CLEANING UP FILES (CLEAR WORK DIR, CLEAR LOG FILES, ETC.)
                - LIFTOFF (VARIOUS CONFIGURATIONS FOR LIFTOFF ANNOTATION)
                - BAKTA (VARIOUS CONFIGURATIONS FOR BAKTA ANNOTATION)

        INFORMATION ON THESE PARAMETERS CAN BE FOUND IN THE WIKI UNDER '7.Parameters'
        https://github.com/CDCgov/tostadas/wiki/7.-Parameters
        */

}
