/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    DEFAULT PARAMS SETTINGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {
        help = false

        /*
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                   PATHS FOR NECESSARY FILES
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        fasta_path = ""
        ref_fasta_path = "" 
        meta_path = ""
        ref_gff_path = "" 
        env_yml = "$projectDir/environment.yml"
        organism = "" // '<put mpox or varv here (mpox is MPOX virus, varv is Variola virus) or leave blank for bacteria>'

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                      GENERAL OUTPUT
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // THIS CAN BE EITHER A RELATIVE PATH, TO THE LAUNCH DIRECTORY OR WHERE YOU ARE CALLING MAIN.NF OR ABSOLUTE
        output_dir = ""

        overwrite_output = true
        /*

        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                           MOST USERS DO NOT NEED TO CHANGE THE PARAMS BELOW
        IF RUNNING SUBMISSION, CHECK PARAMS IN THE SUBMISSION SECTION (LAST SECTION OF FILE)
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                      COMPUTE ENV 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        scicomp = true
        docker_container = 'staphb/tostadas:latest'
        docker_container_vadr = 'staphb/vadr:latest'

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                       SUBWORKFLOW 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        run_submission = true // '<put either bool true or false here>' 
        run_vadr = true // '<put either bool true or false here>'
        run_liftoff = true // '<put either bool true or false here>'
        cleanup = true // '<put either bool true or false here>'
        run_bakta = false // '<put either bool true or false here>'
        run_repeatmasker_liftoff = true // '<put either bool true or false here>'
        run_validate_params = true // '<put either bool true or false here>'
        run_validation =true //  '<put either bool true or false here>'
        run_initial_submission = true //  '<put either bool true or false here>'
        run_update_submission = true // '<put either bool true or false here>'

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    CLEANUP SUBWORKFLOW
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        clear_nextflow_log = false // '<put either bool true or false here>' // example: true (not 'true')
        clear_work_dir = true //'<put either bool true or false here>' 
        clear_conda_env = false // '<put either bool true or false here>'
        clear_nf_results = false // '<put either bool true or false here>'

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                        VALIDATION   
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // THIS IS THE NAME OF THE VALIDATION OUTPUT DIRECTORY, NOT A PATH, WILL BE ONE LEVEL BELOW THE OUTPUT_DIR:
        val_output_dir = 'validation_outputs'

        val_date_format_flag = 's'
        val_keep_pi = true // '<put either bool true or false here>' // example: true (not 'true')
        validate_custom_fields = false // '<put either bool true or false here>'
        // PATH TO THE .JSON FILE CONTAINING CUSTOM FIELDS INFORMATION
        custom_fields_file = "$projectDir/assets/custom_meta_fields/example_custom_fields.json"

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                          LIFTOFF
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // THIS IS THE NAME OF THE LIFTOFF OUTPUT DIRECTORY, NOT A PATH, WILL BE ONE LEVEL BELOW THE OUTPUT_DIR:
        final_liftoff_output_dir = 'liftoff_outputs'

        lift_print_version_exit = false // '<put either bool true or false here>' 
        lift_print_help_exit =  false // '<put either bool true or false here>'
        lift_parallel_processes = 8 // '<put int value here>'
        lift_delete_temp_files =  'true' // '<put either true or false as string here>' 
        lift_coverage_threshold =  0.5 // '<put float value here>'
        lift_child_feature_align_threshold =  0.5 // '<put float value here>'
        lift_unmapped_features_file_name = 'output.unmapped_features.txt'
        lift_copy_threshold =  1.0 // '<put float value here>'
        lift_distance_scaling_factor =  2.0 // '<put float value here>'
        lift_flank =  0.0 // '<put float value here>'
        lift_overlap =  0.1 // '<put float value here>'
        lift_mismatch =  2 // '<put float value here>'
        lift_gap_open =  2 // '<put float value here>'
        lift_gap_extend =  1 // '<put float value here>'
        lift_infer_transcripts =  'false' // '<put either True or False as string here>'
        lift_copies =  'true' // '<put either True or False as string here>'
        lift_minimap_path = 'N/A' 
        lift_feature_database_name = 'N/A'
        lift_feature_types = "$projectDir/assets/feature_types.txt" // only for liftoff_cli

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                          VADR
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        vadr_output_dir = 'vadr_outputs'
        vadr_models_dir = "$projectDir/vadr_files/mpxv-models"

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                          BAKTA
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        bakta_db_type = "light" // light or full
        download_bakta_db = false
        proteins = ""
        prodigal_tf = ""
        bakta_output_dir = 'bakta_outputs'
        bakta_min_contig_length = 5
        bakta_threads = 2
        bakta_genus = 'N/A'
        bakta_species = 'N/A'
        bakta_strain = 'N/A'
        bakta_plasmid = 'unnamed'
        bakta_locus = 'contig'
        bakta_locus_tag = 'autogenerated'
        bakta_translation_table = 11

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                        SUBMISSION
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // GENERAL PARAMETERS
        submission_output_dir = 'submission_outputs'
        submission_config = "$projectDir/bin/default_config_files/MPOX_config.yaml"   // IF RELATIVE PATH OR JUST THE NAME IS PROVIDED, IT WILL ASSUME LOCATED INSIDE OF SUBMISSION_SCRIPTS/CONFIG_FILES:
        submission_database = "submit"   // MUST BE EITHER: 'submit' (follows existing config), 'genbank', 'sra', 'gisaid', 'biosample', 'joint_sra_biosample', or 'all'
        req_col_config = "$projectDir/bin/default_config_files/required_columns.yaml"
        batch_name = "batch1"
        submission_prod_or_test = "test" // '<put either prod or test as string here>'
        submission_wait_time = 5 // '<put either calc as string or integer here>'
        send_submission_email = false // '<put either bool true or false here>'

        // REQUIRED FOR ONLY_SUBMISSION + ONLY_INITIAL_SUBMISSION ENTRYPOINTS
        final_split_metas_path = "$output_dir/$val_output_dir/*/tsv_per_sample/"
        final_annotated_files_path = "$output_dir/$final_liftoff_output_dir/*/liftoff/"
        final_split_fastas_path = "$output_dir/$final_liftoff_output_dir/*/fasta/"

        // REQUIRED FOR UPDATE_SUBMISSION ENTRYPOINT:
        processed_samples = "$output_dir/$submission_output_dir/"

}
