/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    TEST PARAMS SETTINGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {

        help = false

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                PATHS FOR NECESSARY FILES 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	   */ 
        fasta_path = "$projectDir/assets/sample_fastas/Cdiphtheriae/"
        bakta_db_path = ""
        ref_gff_path = "random"
        ref_fasta_path = "random"
        meta_path = "$projectDir/assets/sample_metadata/Cdiphtheriae_test_1.xlsx"
        env_yml = "$projectDir/environment.yml"
        db_version = "light" // can be light (3 GB) or full (30 GB)
        virus = false

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                COMPUTE ENV 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        scicomp = false
        docker_container = 'staphb/tostadas:latest'
        docker_container_bakta = 'quay.io/biocontainers/bakta:1.8.2--pyhdfd78af_0'

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                SUBWORKFLOW 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        annotation = true
        bakta = true
        submission = true
        cleanup = true

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                CLEANUP SUBWORKFLOW
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        clear_nextflow_log = false
        clear_work_dir = false
        clear_conda_env = false
        clear_nf_results = false

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                GENERAL OUTPUT
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        output_dir = 'nf_test_results'
        overwrite_output = true

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                VALIDATION   
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        val_output_dir = 'validation_outputs'
        val_date_format_flag = 's'
        val_keep_pi = false
        validate_custom_fields = false
        custom_fields_file = "$projectDir/assets/custom_meta_fields/example_custom_fields.json"

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                BAKTA
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        bakta_db_type = "light" // light or full
        download_bakta_db = false
        proteins = ""
        prodigal_tf = ""
        bakta_output_dir = 'bakta_outputs'
        bakta_min_contig_length = 5
        bakta_threads = 2
        bakta_genus = 'N/A'
        bakta_species = 'N/A'
        bakta_strain = 'N/A'
        bakta_plasmid = 'unnamed'
        bakta_locus = 'contig'
        bakta_locus_tag = 'autogenerated'
        bakta_translation_table = 11

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                SUBMISSION
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // general
        submission_output_dir = "submission_outputs"
        submission_prod_or_test = 'test'
        submission_wait_time = 'calc'
        send_submission_email = false
        submission_config = "$projectDir/bin/config_files/mpxv_config_kk.yaml" 
        req_col_config = "$projectDir/bin/default_config_files/required_columns.yaml"
        submission_database = "submit"  // must be either: 'submit' (follows existing config), 'genbank', 'sra', 'gisaid', 'biosample', 'joint_sra_biosample', or 'all'
        batch_name = "batch1"

        // for update_submission entrypoint:
        processed_samples = "$projectDir/$output_dir/$submission_output_dir"

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                ENTRYPOINTS (SUBMISSION + ONLY_INITIAL_SUBMISSION) / USER PROVIDED ANNOTATIONS DIRECT PATHS 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // Leave this param empty if you are not providing annotations AND not doing annotation during the run
        final_annotated_files_path = "$projectDir/$output_dir/$bakta_output_dir/*/gff"
        final_split_metas_path = "$projectDir/$output_dir/$val_output_dir/*/tsv_per_sample"  
        final_split_fastas_path = "$projectDir/assets/sample_fastas/diphtheria"
}
