/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    TEST PARAMS SETTINGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {

        help = false

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                   PATHS FOR NECESSARY FILES
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        fasta_path = "$projectDir/input_files/trialData.fasta"
        ref_fasta_path = "$projectDir/input_files/ref/ref.MPXV.NC063383.v7.fasta"
        meta_path = "$projectDir/input_files/MPXV_metadata_Sample_Run_1.xlsx"
        ref_gff_path = "$projectDir/input_files/ref/ref.MPXV.NC063383.v7.gff"
        liftoff_script = "$projectDir/bin/liftoff_submission.py"
        validation_script = "$projectDir/bin/validate_metadata.py"
        submission_script = "$projectDir/submission_scripts/submission.py"
        env_yml = "$projectDir/environment.yml"

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                      COMPUTE ENV 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        scicomp = false

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                       SUBWORKFLOW 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        run_submission = true
        cleanup = true

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    CLEANUP SUBWORKFLOW
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        clear_nextflow_log = true
        clear_work_dir = true
        clear_conda_env = false
        clear_nf_results = true

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                      GENERAL OUTPUT
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        output_dir = "nf_test_results"
        overwrite_output = true

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                        VALIDATION   
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        val_output_dir = 'validation_outputs'
        val_date_format_flag = 's'
        val_keep_pi = false

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                          LIFOFF
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        final_liftoff_output_dir = 'liftoff_outputs'
        lift_print_version_exit = false
        lift_print_help_exit = false
        lift_parallel_processes = 8
        lift_delete_temp_files = 'true'
        lift_coverage_threshold = 0.5
        lift_child_feature_align_threshold = 0.5
        lift_unmapped_features_file_name = 'output.unmapped_features.txt'
        lift_copy_threshold = 1.0
        lift_distance_scaling_factor = 2.0
        lift_flank = 0.0
        lift_overlap = 0.1
        lift_mismatch = 2
        lift_gap_open = 2
        lift_gap_extend = 1
        lift_infer_transcripts = 'False'
        lift_copies = 'False'
        lift_minimap_path = 'N/A' // if empty must be denoted as N/A or n/a or None
        lift_feature_database_name = 'N/A' // if empty must be denoted as N/A or n/a or None

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                           SUBMISSION
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        submission_output_dir = "submission_outputs"
        submission_prod_or_test = 'test'
        submission_wait_time = 'calc'
        submission_only_meta = "${params.output_dir}/${params.val_output_dir}/MPXV_metadata_Sample_Run_1/tsv_per_sample"
        submission_only_gff = "${params.output_dir}/${params.final_liftoff_output_dir}/MPXV_metadata_Sample_Run_1/liftoff"
        submission_only_fasta = "${params.output_dir}/${params.final_liftoff_output_dir}/MPXV_metadata_Sample_Run_1/fasta"
        
        send_submission_email = false
        submission_config = "mpxv_config_kk.yaml" 
        batch_name = "batch1"
}
