/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    TEST PARAMS SETTINGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    test {
        params {
            submission_prod_or_test = "test"
            dry_run                 = true
            submission_wait_time    = 2
            batch_size              = 1
            send_submission_email   = false
            overwrite_output        = true
            outdir                  = "results"
        }
    }
}
