params {
    species                       = 'virus'
    virus_subtype                 = null
    annotation                    = false
    submission                    = true
    sra                           = true
    meta_path                     = "${projectDir}/assets/sample_metadata/mpxv_test_metadata.xlsx"
}
