/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    DEFAULT PARAMS SETTINGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
params {

        help = false

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                   PATHS FOR NECESSARY FILES
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        fasta_path = ""
        ref_fasta_path = ""
        meta_path = ""
        ref_gff_path = ""
        env_yml = ""

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                      COMPUTE ENV 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        scicomp = '<put either bool true or false here>'
        docker_container = ""
        docker_container_vadr = ""

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                       SUBWORKFLOW 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        run_submission = <put either bool true or false here>
        run_vadr = <put either bool true or false here>
        run_liftoff = <put either bool true or false here>
        cleanup = <put either bool true or false here>

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                    CLEANUP SUBWORKFLOW
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        clear_nextflow_log = < put either bool true or false here >
        clear_work_dir = <put either bool true or false here >
        clear_conda_env = <put either bool true or false here>
        clear_nf_results = <put either bool true or false here >

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                      GENERAL OUTPUT
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // THIS CAN BE EITHER A RELATIVE PATH, TO THE LAUNCH DIRECTORY OR WHERE YOU ARE CALLING MAIN.NF OR ABSOLUTE
        output_dir = ""

        overwrite_output = <put either bool true or false here>

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                        VALIDATION   
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // THIS IS THE NAME OF THE VALIDATION OUTPUT DIRECTORY, NOT A PATH, WILL BE ONE LEVEL BELOW THE OUTPUT_DIR:
        val_output_dir = ''

        val_date_format_flag = 's'
        val_keep_pi = <put either bool true or false here>

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                          LIFOFF
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // THIS IS THE NAME OF THE LIFTOFF OUTPUT DIRECTORY, NOT A PATH, WILL BE ONE LEVEL BELOW THE OUTPUT_DIR:
        final_liftoff_output_dir = ''

        lift_print_version_exit = <put either bool true or false here>
        lift_print_help_exit = <put either bool true or false here>
        lift_parallel_processes = <put int value here>
        lift_delete_temp_files = <put either true or false as string here>
        lift_coverage_threshold = <put float value here>
        lift_child_feature_align_threshold = <put float value here>
        lift_unmapped_features_file_name = 'output.unmapped_features.txt'
        lift_copy_threshold = <put float value here>
        lift_distance_scaling_factor = <put float value here>
        lift_flank = <put float value here>
        lift_overlap = <put float value here>
        lift_mismatch = <put int value here>
        lift_gap_open = <put int value here>
        lift_gap_extend = <put int value here>
        lift_infer_transcripts = <put either True or False as string here>
        lift_copies = <put either True or False as string here>
        lift_minimap_path = 'N/A' 
        lift_feature_database_name = 'N/A'

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                          VADR
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        vadr_output_dir = ''
        vadr_models_dir = "$projectDir/vadr_files/mpxv-models"

        /*
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                        SUBMISSION
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        */
        // GENERAL PARAMETERS
        submission_output_dir = ''
        submission_config = ""   // IF RELATIVE PATH OR JUST THE NAME IS PROVIDED, IT WILL ASSUME LOCATED INSIDE OF SUBMISSION_SCRIPTS/CONFIG_FILES:
        submission_database = ""   // MUST BE EITHER: 'submit' (follows existing config), 'genbank', 'sra', 'gisaid', 'biosample', 'joint_sra_biosample', or 'all'
        req_col_config = ""
        batch_name = ""
        submission_prod_or_test = <put either prod or test as string here>
        submission_wait_time = <put either calc as string or integer here>
        send_submission_email = <put either bool true or false here>

        // REQUIRED FOR ONLY_SUBMISSION + ONLY_INITIAL_SUBMISSION ENTRYPOINTS
        submission_only_meta = "$projectDir/$output_dir/$val_output_dir/*/tsv_per_sample/"
        submission_only_gff = "$projectDir/$output_dir/$final_liftoff_output_dir/*/liftoff/"
        submission_only_fasta = "$projectDir/$output_dir/$final_liftoff_output_dir/*/fasta/"

        // REQUIRED FOR UPDATE_SUBMISSION ENTRYPOINT:
        processed_samples = "$projectDir/$output_dir/$submission_output_dir/"

}