name: Tostadas CI

on:
  pull_request:
    types: [opened, reopened]
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
          ref: ${{ github.event.pull_request.head.ref }}

    - name: Set Up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Mambaforge
      run: |
        curl -L -O https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-$(uname)-$(uname -m).sh
        bash Mambaforge-$(uname)-$(uname -m).sh -b -p $HOME/mambaforge
        export PATH="$HOME/mambaforge/bin:$PATH"

    - name: Create Environment and Run Tests 
      run: |
        source $HOME/mambaforge/etc/profile.d/conda.sh
        conda activate
        conda create -n ci_tostadas python=3.9
        conda activate ci_tostadas
        mamba install --quiet -c bioconda nextflow
        conda install --quiet -y pytest pandas glob2
        pytest -p no:warnings tests/test_main.py